<div id="fullpage" full-page-directive>
    <div class="section full-height first-section" data-anchor="indexSection">
        <!-- main section -->
        <header class="row">
            <div class="logo-container despre">
                <a ui-sref="acasa" class="logo-link"><img src="assets/images/logo-small.png" alt="logo image">
                </a>
            </div>
        </header>
        <section class="row">
            <article class="col-xs-12 first-text text-center">
                <h1 class="classic-text title">Costin Milea - fotograf profesionist<br><small>Bine ati venit!</small></h1>
            </article>
            <div class="scroll-indicator"><a class="scroll-about"><span class="scroll-text">scroll</span></a>
            </div>
        </section>
    </div>
    <section class="section" id="secondSection">
        <article id="first-about" class="section clearfix about-me-box first">
            <div class="col-xs-12 col-lg-4">
                <div class="circle-pic-responsive about-me">
                    <img src="assets/images/about-me.jpg" alt="poza mea">
                </div>
            </div>
            <div class="col-xs-12 col-lg-8">
                <div class="text-box about-me">
                    <h2 class="tite">Despre mine</h2>
                    <p class="text">Nu-i usor, dar sunt de ceva timp în acest domeniu. Cum bine stim, timpul este ireversibil, iar ceea ce ne doare cel mai tare este posibilitatea uitarii unor momente frumoase din viata noastra, de aceea iti spun ca mi-ar placea sa ma consideri umbra ce scoate la lumina momentele frumoase, amuzante, sau pline de emotie de la evenimentul tau sau al familiei tale. Desi de atata timp în bransa, nu am reusit sa aleg o singura ramura a fotografiei pe care sa activez, considerand ca imortalizarea amintirilor tale, indiferent de eveniment, este felul in care eu imi consum pasiunea.</p>
                    <p class="text">Daca iti place ce vezi, sau consideri ca alaturi de mine iti poti dezvolta ideea pe care o ai într-un frumos proiect, nu ezita sa ma contactezi. O idee privita din mai multe lumini se poate transforma în ceva maret. Tu ai ideea, eu am restul.</p>
                </div>
            </div>
        </article>
    </section>
    <section class="section">
        <article id="second-about" class="section clearfix about-me-box">
            <div class="col-xs-12 col-lg-6">
                <div class="text-box about-me">
                    <h2 class="title">Echipamentul folosit(I)</h2>
                    <p class="text">Echipament Canon pana la capat!</p>
                    <p class="text">EOS 5D Mark II este un model de aparat profesional, compact si performant, cu un senzor CMOS Full Frame (35mm) si posibilitate de filmare Full HD • Senzor CMOS full-frame de 21.1 MP • Sistem integrat de "Sensor Cleaning" • Procesor DIGIC 4</p>
                    <p class="text">EOS 6D reprezinta intrarea ideala in lumea full frame. Cu un corp compact si foarte solid si cu senzorul full frame de 20,2 megapixeli, ce ofera performante incredibile la valori ISO mari, Canon EOS 6D este companionul ideal pentru calatorii. Sistemul de autofocus cu 11 puncte include un senzor central cu sensibilitate de -3 EV, fiind extrem de rapid si precis chiar si in conditii de iluminare scazuta. Este cotat ca eficace si la lumina lunii. • Senzor CMOS Full Frame de 20.2 Mpx</p>
                </div>
            </div>
            <div class="hidden-xs hidden-sm hidden-md col-lg-6">
                <div class="row about-products-pics">
                    <div class="col-xs8-o2 col-sm-6 col-sm-offset-0 ">
                        <div class="about-camera"><img src="assets/images/canon 5d.jpg" alt="poza aparat">
                        </div>
                    </div>
                    <div class="col-xs8-o2 col-sm-6 col-sm-offset-0">
                        <div class="about-camera"><img src="assets/images/canon 6d.jpg" alt="poza aparat">
                        </div>
                    </div>
                </div>


            </div>
        </article>


    </section>
    <!-- / section -->
    <section class="section">
        <article id="third-about" class="section clearfix about-me-box">
            <div class="col-xs-12 col-lg-6">
                <div class="text-box about-me">
                    <h2 class="title">Echipamentul folosit (II)</h2>
                    <p class="text">EOS 7D imbina inalta performanta, versatilitatea si filmele HD realizate in stil cinematografic. Rezolutia de 18 MP ofera o calitate deosebita iar fotografierea continua la 8 cps va mentine inaintea actiunii.</p>
                    <p class="text">Pentru acele persoane care isi doresc cea mai înalta calitate a imaginii, folosim obiectivele EF cu distanta focala fixa care ofera de asemenea deschideri maxime ale diafragmei - excelente pentru fotografiere in conditii de luminozitate scazuta si controlul adancimii campului. Cea mai buna calitate a imaginilor fiind garantata.
                    </p>
                </div>
            </div>
            <div class="hidden-xs hidden-sm hidden-md col-lg-6">
                <div class="row about-products-pics">
                    <div class="col-xs8-o2">
                        <div class="about-camera"><img src="assets/images/canon 7d.jpg" alt="poza aparat">
                        </div>
                    </div>

                </div>


            </div>
        </article>


    </section>
    <!-- / section -->
</div>
<!-- /fullpage -->