<header class="row project-page-header">

    <div class="logo-container">
        <a ui-sref="acasa" class="logo-link"><img src="assets/images/logo-small.png" alt="logo image">
        </a>
    </div>
</header>
<!-- main section -->
<section class="row">
    <div class="text-center">
        <h1 class="project-title">Politica de cookie-uri</h1>
    </div>

    <article class="col-md-8 col-md-push-2">
        <div class="text-box contact">
            <div class="caption-inside">
                <p class="text">Acest site foloseste cookie-uri 
                    de la terți pentru a furniza vizitatorilor 
                    o experienţă mult mai bună de navigare şi 
                    servicii adaptate nevoilor şi interesului fiecăruia în parte. Aceste cookie-uri sunt importante pentru 
                    deţinătorii de site-uri, pentru că le oferă feedback 
                    valoros despre experienţa utilizatorilor, a modului în 
                    care sunt folosite site-urile şi îi ajută să le dezvolte 
                    cât mai eficient posibil.</p>
                <h2>Ce este un “cookie”?</h2>
                <p class="text">Potrivit Autorităţii Naţionale de Supraveghere a Prelucrării Datelor cu Caracter Personal, un “Internet Cookie” (termen cunoscut şi ca “browser cookie” sau “HTTP cookie” sau pur şi simplu “cookie” ) este un fişier de mici dimensiuni, format din litere şi numere, care va fi stocat pe computerul, terminalul mobil sau alte echipamente ale unui utilizator de pe care se accesează Internetul.
                    Cookie-ul este instalat prin solicitarea emisă de către un webserver unui browser (ex: Internet Explorer, Chrome, Mozilla) și este complet “pasiv” (nu conține programe software, viruși sau spyware și nu poate accesa informațiile de pe hard-disk-ul utilizatorului).
                    Un cookie este format din două părți: numele și conţinutul sau valoarea cookie-ului. Mai mult, durata de existență a unui cookie este determinată; tehnic, doar webserverul care a trimis cookie-ul îl poate accesa din nou în momentul în care un utilizator se întoarce pe website-ul asociat webserverului respectiv. Cookie-urile în sine nu solicită informații cu caracter personal pentru a putea fi utilizate și, în cele mai multe cazuri, nu identifică personal utilizatorii de internet.</p>
                <h3 class="text">Exista două categorii mari de cookie-uri:</h3>
                <ul>
                    <li><p>Cookie-uri de sesiune – acestea sunt stocate temporar în dosarul de cookie-uri al browserului web pentru ca acesta să le memoreze până când utilizatorul iese de pe web-siteul respectiv sau închide fereastra browserului ( de exemplu, în momentul logării/delogării pe un cont de webmail sau pe reţele de socializare).</p></li>
                    <li><p>Cookie-uri persistente – acestea sunt stocate pe hard-drive-ul unui computer sau echipament. Ele le includ şi pe cele plasate de un alt website decât cel pe care îl vizitează utilizatorul la momentul respectiv – cunoscute sub numele de ‘third party cookies’ (cookie-uri plasate de terţi) – care pot fi folosite în mod anonim pentru a memora interesele unui utilizator, astfel încât să îi fie livrată publicitate cât mai relevantă.</p></li>  
                </ul>
                <h3>Securitate şi confidenţialitate</h3>
                <p class="text">Cookie-urile nu sunt viruşi! Cookie-urile folosesc formate tip plain text. Nu sunt alcătuite din bucăţi de cod aşa că nu pot fi executate şi nici nu pot auto-rula. Astfel, ele nu se pot duplica sau replica pe alte reţele.

Cookie-urile pot fi, însă, folosite pentru scopuri negative. Deoarece stochează informaţii despre preferinţele şi istoricul de navigare al utilizatorilor de Internet, pot fi folosite ca o formă de Spyware. Multe produse anti-spyware sunt conştiente de acest fapt şi în mod constant marchează cookie-urile pentru a fi şterse în cadrul procedurilor de ştergere/scanare anti-virus/anti-spyware.

În general, browserele au integrate setări de confidenţialitate care furnizează diferite nivele de acceptare a cookie-urilor, perioada de valabilitate şi ştergere automată după ce utilizatorul a vizitat un anumit site.

Uneori, de exemplu, se poate ca în relaţia browser-server să intervină o treia parte neautorizată şi care să intercepteze datele conţinute de cookie-uri. Deşi foarte rar, acest lucru se poate întâmpla dacă browserul se conectează la server folosind o reţea necriptată, cum ar fi, de exemplu, o reţea wireless nesecurizată.

Alte atacuri bazate pe cookie-uri pot implica setări greşite ale cookie-urilor pe servere. Dacă un website nu solicită browserului să folosească doar canale criptate, atacatorii pot folosi această vulnerabilitate pentru a păcăli browserele în a trimite informaţii prin intermediul canalelor nesecurizate. Atacatorii utilizează apoi informaţiile în scopuri de a accesa neautorizat anumite site-uri.

Datorită flexibilităţii lor şi a faptului că majoritatea dintre cele mai vizitate site-uri folosesc cookie-uri, acestea sunt aproape inevitabile. Dezactivarea cookie-urilor nu va permite accesul utilizatorului pe site-urile cele mai utilizate printre care Youtube, Gmail, Yahoo şi altele.</p>
                <h3>Sfaturi privind folosirea cookie-urilor</h3>
                <ul>
                    <li><p class="text">Setaţi browserul după nevoile dumneavoastră de navigare şi la un nivel confortabil al securităţii.</p></li>
                    <li><p class="text">Dacă sunteţi singura persoană care accesează un computer, puteţi seta termene mai lungi de expirare, pentru a avea stocat cât mai mult istoricul de navigare şi alte date de trafic.</p></li>
                    <li><p class="text">Dacă mai multe persoane folosesc acelaşi computer cu dumneavoastră, puteţi seta browserul pentru a curăţa datele de navigare de fiecare dată când încheiaţi o sesiune de navigare.</p></li>
                    <li><p class="text">Instalaţi aplicaţii antispyware.</p></li>
                </ul>
                <h3>Cum pot opri cookie-urile?</h3>
                <p class="text">Cookie-urile pot fi oprite, dar dezactivarea lor va îngreuna navigarea pe anumite site-uri. În fiecare browser în parte există posibilitatea ca din setări (sau opţiuni) să opriţi cookie-urile.

Aflaţi accesând linkurile de mai jos cum puteţi opri cookie-urile în fiecare browser în parte:</p>
                    <ul>
                        <li><a href="https://support.microsoft.com/en-us/help/196955/how-to-set-and-customize-cookies-settings-in-internet-explorer-5" target="_blank">Internet Explorer</a></li>
                        <li><a href="https://support.mozilla.org/t5/Protect-your-privacy/Cookies-Information-that-websites-store-on-your-computer/ta-p/1483?redirectlocale=en-US&redirectslug=Cookies" target="_blank">Mozilla Firefox</a></li>
                        <li><a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank">Google Chrome</a></li>
                        <li><a href="https://support.apple.com/kb/PH5042?locale=en_US" target="_blank">Safari</a></li>
                    </ul>
            </div>
        </div>
    </article>


</section>
