<header class="row project-page-header">

    <div class="logo-container">
        <a ui-sref="acasa" class="logo-link"><img src="assets/images/logo-small.png" alt="logo image">
        </a>
    </div>
</header>
<!-- main section -->
<section class="row">
    <div class="text-center">
        <h1 class="project-title">Contact</h1>
    </div>

    <article class="col-md-8 text-center col-md-push-2">
        <div class="text-box contact">
            <div class="caption-inside">
                <p class="text">Disponibil pentru colaborari.</p>
            </div>
        </div>
        <ul class="list-inline">
            <li><a href="https://www.facebook.com/Costin-Milea-127243850653136" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
            </li>
            <li><a href="https://instagram.com/costin_milea/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
            </li>
            <li><a href="https://twitter.com/cmphotoartz" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
            </li>
        </ul>
        <div>
            <br>
            <br>
            <p>costin@costin-milea.ro</p>
            <p>tel: +4 0765 457 327</p>
        </div>
    </article>


</section>
<!-- / section -->
<footer>
    <div class="text-center small">
        copyright: costin-milea.ro
    </div>
    <div class="text-center small">
        website by: <a href="www.mmswi.com" target="_blank">mmswi</a>
    </div>
</footer>
